@page "/quote"
<h3>Quote</h3>

<StockInput @bind-Stock="stock" />
<table class="table table-bordered">
    <tr>
        <td>Symbol</td>
        <td>@stock.Symbol</td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td>@stock.CompanyName</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@stock.LatestPrice</td>
    </tr>
</table> 

@code {

    private Stock? stock { get; set; } = new Stock();
}
